.contact-container {
  padding: 128px 32px 100px 33px;

  .contact-wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;

    .contact-heading {
      color: var(--clr-black);
    }

    .contact-info {
      text-align: center;

      a {
        color: var(--text);
        text-decoration: none;

        &:hover {
          color: var(--clr-primary);
          text-decoration: underline;
        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .icon-box {
        opacity: 0.2;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  background-color: var(--clr-secondary);
  overflow: hidden;
  /* Animation moveLeftToRight is brought in */
  h3 {
    font-size: 24px;
    margin-bottom: 0;
    color: white;
    padding: 41px 0 35px 0;
    white-space: nowrap;
    animation: moveLeftToRight 20s linear infinite;
  }
}

/* Animation moveLeftToRight is set up using keyframes */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}
