.image {
  margin-right: 20px;
  margin-bottom: 14px;
}

.profile-img {
  width: 164px;
  height: 164px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.circle-img {
  position: absolute;
  top: -30px;
  width: 100%;
  height: auto;
}

.project-img {
  width: 100%;
  min-width: 200px;
  max-height: 100%;
  object-fit: cover;
  border-bottom: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
}

.article-img img {
  width: 100%;
  object-fit: cover;
  border-bottom: 20px solid var(--secondary);
  border-left: 20px solid var(--secondary);
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
  .arrow-divider {
    padding: 128px 64px 64px 64px;
  }

  .project-img {
    width: 200px;
    height: 280px;
    flex-shrink: 0;
    /* Take up all available vertical space within the article */
  }

  .article-img img {
    max-height: 100%;
    object-fit: cover;
  }
}

/* ------------ Desktop only ------------ */
@media (min-width: 1280px) {
  .project-img {
    width: 100%;
    height: 280px;
    border-bottom: 20px solid var(--primary);
    border-left: 20px solid var(--primary);
    flex-shrink: 0;
  }

  .article-img img {
    max-height: 100%;
  }
}
