/* ------------ HEADER ------------ */
header {
  position: relative;
  display: flex;
  justify-content: center;
}

/* ------------ LAYOUT ------------ */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 64px 0;
  gap: 32px;
  padding-bottom: 180px;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet only ------------ */
@media (max-width: 1279px) and (min-width: 744px) {
  .introduction {
    margin: 0 auto;
    padding: 128px 64px 128px 64px;
    display: grid;
    grid-template-columns: 1fr 430px;
    grid-template-rows: auto;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-img {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: span 2;
  }
}

/* ------------ Desktop Only ------------ */
@media (min-width: 1280px) {
  .introduction {
    margin: 0 auto;
    padding: 332px 220px 332px 220px;
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: auto;
    max-width: 840px;
  }

  .headings {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .profile-img {
    grid-row: 2;
  }

  .intro-text {
    grid-row: 2;
    grid-column: 2;
  }
}

/* ------------ ARROW DOWN ------------ */
.arrow-down {
  position: relative;
  height: 70px;

  @media (min-width: 1280px) {
    height: 100px;
  }

  &.bounce {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    animation: bounce 4s infinite linear;
  }

  @keyframes bounce {
    0%,
    100% {
      /* Start and end position (no vertical movement) */
      transform: translateY(-50);
    }
    25%,
    75% {
      /* Move up */
      transform: translateY(-80px);
    }
    50% {
      /* Stop for 1s at the top */
      transform: translateY(-50);
    }
  }
}
