.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .intro-container {
    max-width: 900px;

    @media screen and (max-width: 667px) {
      margin-top: 4em;
    }

    .intro-text {
      font-weight: 600;
      font-size: 2rem;
      line-height: 39px;
      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 667px) {
        font-size: 1rem;
      }
    }

    .about-me-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .profile-image {
        background-image: url("/profile.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        min-width: 164px;
        height: 164px;
        @media screen and (max-width: 667px) {
          position: absolute;
          top: 50px;
        }
      }

      .about-me-text {
        font-weight: 400;
        padding: 22px;
        font-size: 1rem;
        @media screen and (max-width: 900px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 667px) {
          padding: 0;
          font-size: 0.8rem;
        }

        span {
          color: var(--clr-secondary);
        }
      }
    }

    .social-links {
      display: flex;
      justify-content: center;

      a {
        margin: 0 0.5em;
      }
      @media screen and (max-width: 667px) {
        margin-top: 2em;
      }
    }
  }

  .arrow-down {
    position: relative;

    &.bounce {
      position: absolute;
      bottom: 20px;
      display: inline-block;
      animation: bounce 4s infinite linear;
    }

    @keyframes bounce {
      0%,
      100% {
        /* Start and end position (no vertical movement) */
        transform: translateY(-50);
      }
      25%,
      75% {
        /* Move up */
        transform: translateY(-100px);
      }
      50% {
        /* Stop for 1s at the top */
        transform: translateY(-50);
      }
    }
  }
}
