@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #0b24f5;
  --clr-secondary: #ff4575;
  --clr-grey-1: #102a42;
  --clr-grey-5: #7c7c7c;
  --clr-grey-8: #f5f5f5;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-text: #333;

  --general-padding: 1.75em;
  --general-smaller-padding: 1em;
  --general-mini-padding: 0.7em;

  --general-margin: 1.75em;
  --general-smaller-margin: 1em;
  --general-mini-margin: 0.7em;

  --light-secondary: #ffecea;
  --btn-gray: #f5f5f5;
  --btn-text: #333;
  --hover-pink: #eb5577;
  --hover-yellow: #ffd338;
  --text: #000000;
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Hind", sans-serif;
  --corner-radius: 40px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  color: var(--clr-text);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  min-height: 100vh;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #0b24f58a;
  }
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1,
h2 {
  color: var(--clr-primary);
  font-size: 4rem;
  font-weight: 700;
  @media screen and (max-width: 900px) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: 667px) {
    font-size: 2rem;
  }
}

h2 {
  @media screen and (max-width: 900px) {
    font-size: 56px;
  }
}
h3,
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  @media (min-width: 744px) {
    font-size: 2rem;
  }
}

h4 {
  @media (max-width: 1279px) and (min-width: 744px) {
    font-size: 2rem;
  }
}

p {
  // margin-bottom: 1.25rem;
  line-height: 1.5em;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: var(--paragraph-font);
}

// TODO: Need to rename this
section {
  height: 980px;
  @media screen and (max-width: 1280px) {
    height: 627px;
  }
  @media screen and (max-width: 667px) {
    height: 720px;
  }
}
