@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #0b24f5;
  --clr-secondary: #ff4575;
  --clr-grey-1: #102a42;
  --clr-grey-5: #7c7c7c;
  --clr-grey-8: #e3e1dd;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-text: #333;

  --general-padding: 1.75em;
  --general-smaller-padding: 1em;
  --general-mini-padding: 0.7em;

  --general-margin: 1.75em;
  --general-smaller-margin: 1em;
  --general-mini-margin: 0.7em;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  color: var(--clr-text);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  min-height: 100vh;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #0b24f58a;
  }
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1,
h2 {
  font-size: 5rem;
  @media screen and (max-width: 900px) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: 667px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  // margin-bottom: 1.25rem;
  line-height: 1.5em;
}
